.grid-container {
    width: 100%;
    max-width: 1400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .pic-grid {
    width: 100%;
    max-width: 1400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .grid-up,
  .grid-down {
    width: 100%;
    height: 45vh;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .grid-up1,
  .grid-up2,
  .grid-up3,
  .grid-down1,
  .grid-down2,
  .grid-down3,
  .grid-down4 {
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }
  
  .grid-up1 {
    background-image: url('../images/middle-left.jpg');
  }
  
  .grid-up2 {
    background-image: url('../images/middle-center.png');
  }
  
  .grid-up3 {
    background-image: url('../images/middle-right.jpg');
  }
  
  .grid-down1 {
    background-image: url('../images/bottom-one.jpg');
  }
  
  .grid-down2 {
    background-image: url('../images/bottom-two.jpg');
  }
  
  .grid-down3 {
    background-image: url('../images/bottom-three.jpeg');
  }
  
  .grid-down4 {
    background-image: url('../images/bottom-four.jpg');
  }
  